/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Layout general con Grid Areas */
body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto auto auto;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: #0a446d;
    color: white;
    padding: 15px;
    text-align: center;
}

.layout {
    grid-area: main;
    display: grid;
    grid-template-areas: "sidebar productos";
    grid-template-columns: 260px 1fr;
    min-height: calc(100vh - 80px);
}

.footer {
    grid-area: footer;
    background-color: #f4f4f4;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #555;
}

/* Sidebar con Flexbox */
.sidebar {
    grid-area: sidebar;
    background: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar li {
    color: #444;
}

/* Sección de productos con Grid */
.productos {
    display: grid;
    grid-area: productos;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: auto auto auto ;
    gap: 20px;
    padding: 20px;
}

/* Tarjeta de producto con Flexbox */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    transition: transform 0.2s ease; /* Transición suave */
}

.card:hover { /* Efecto hover */
    transform: translateY(-5px);
}

.card img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.card p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

button {
    background-color: #0a446d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    /* transition: background 0.3s; */
    width: 100%;
}

button:hover {
    background-color: #08324f;
}

.stock {
    color: rgb(228, 215, 215);
    font-weight: bold;
}